<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="row">
  <div class="col">
    <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="saveSubmit()">
      <div class="card">
        <div class="card-header">
          <strong>{{title | uppercase}}</strong>
        </div>
        <div class="card-body">
          <dynamic-bootstrap-form [model]="formModel"
                                  [layout]="formLayout"
                                  [group]="formGroup"
                                  (blur)="onBlur($event)"
                                  (change)="onChange($event)"
                                  (focus)="onFocus($event)">
          </dynamic-bootstrap-form>
        </div>
        <div class="card-footer">
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Output
      </div>
      <div class="card-body">
        <pre>{{formGroup.value | json}}</pre>
      </div>
    </div>
  </div>
</div>
