<div class="animated fadeIn">
  <div class="container">
    <div class="row">
      <!-- Nav tabs -->
      <div class="col">
        <tabset>
          <tab heading="{{cx.title}}" *ngFor="let cx of contextList" (select)="getCategories(cx.title)">
            <div class="card">
              <div class="card-header">
                <h1>{{cx.title}} - Categories</h1>
              </div>
              <div class="card-body">
                <div *ngFor="let c of categories">
                  <button type="button" (click)="onSelectCategory(c)">{{c.description}}</button>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" (click)="addCategory(cx.key)">New Category</button>
              </div>
            </div>
          </tab>
        </tabset>
      </div><!--/.col-->
    </div>
    <div class="row" *ngIf="selectedCategory">
      <div class="col">
            <app-generic-form *ngIf="selectedCategory" (onSubmit)="onSubmit($event)" [context]="selectedCategory.context" [name]="'category'" [title]="'New Category'"></app-generic-form>
            <div class="card">
              <div class="card-header">
                Products
              </div>
              <div class="card-body">
                <table *ngIf="!newProduct">
                  <tr *ngFor="let p of products">
                    <td>
                      {{p.id}}
                    </td>
                    <td>
                      {{p.description}}
                    </td>
                    <td>
                      {{p.salable}}
                    </td>
                  </tr>
                </table>
                <app-generic-form *ngIf="newProduct" [name]="'product'" [context]="selectedCategory.context" [title]="'Product'"></app-generic-form>
              </div>
              <div class="card-footer">
                <div *ngIf="!newProduct">
                  <button type="button" (click)="addProduct()">Add Product</button>
                </div>
              </div>
            </div>
            <!-- TODO aggiungere prodotti -->
            <!-- TODO caricamento da file -->
      </div>
    </div>
  </div>
</div>
