<div class="card">
  <div class="card-header">
    <label>Description</label>
  </div>
  <div class="card-body">
    <app-generic-form [context]="selectedCategory.context" [name]="'category'" (onSubmit)="saveCategory($event)"></app-generic-form>
  </div>
  <div class="card-footer">

  </div>
</div>
